  button
  {
    cursor: pointer;
  }
  p
  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    width: 300px;
  }
.html
  {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 1000;
    width: fit-content;
  }
.Beginner
  {
    font-size: 18px;
    color: rgb(141, 141, 143);
  }
.in
  {
    font-size: 16px;
    margin-top: 21px ;
    margin-bottom: 21px ;
  }
.get
  {
    background-color: rgb(35, 150, 33);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    

  }

  .request-now {
  background-color: rgb(255, 164, 28);
  color: #000000;
    border-radius: 20px;
    border: none;
    height: 40px ;
    width: 160px ;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 1.7s;
    }
    .request-now:hover{
      background-color: rgb(255, 216, 21);
    }
  .videotittle{
    font-family: sans-serif;
    font-size: 25px;
  
  }
.request-now {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
    border: none;
    height: 40px ;
    width: 160px ;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s;
    }
    .request-now:hover{
  opacity: 0.8 ;   
 }
.Get-started {
  background-color: rgb(121, 82, 179);
  color: #ffffff;
    border: none;
    border-radius: 5px;
    height: 40px ;
    width: 160px ;
    cursor: pointer;
    font-size: 16px;
    }
.Get-started:hover {
      background-color: rgb(95, 64, 141);
      opacity: 0.8;
    }
.download {
  background-color: rgb(242, 243, 243);
  color: rgb(108, 117, 125);
    border-style: solid;
    border-color: rgb(108, 117, 125);
  border-radius: 5px;
  border-width: 1px ;
    height: 40px ;
    width: 160px ;
    cursor: pointer;
    font-size: 16px;
    margin-left: 8px;
    }
.download:hover {
      background-color: rgb(180, 180, 180);
      color: #ffffff;
    }
    .amazon-button {
      background-color: rgb(255, 216, 20);
      color: rgb(0, 0, 0);
      border: none;
      border-radius: 18px;
      height: 36px;
      font-weight: bold;
      cursor: pointer;
      margin-right: 5px;
      width: 150px;
    }
    .buynow-button {
      background-color: rgb(255, 164, 28);
      color: rgb(0, 0, 0);
      border: none;
      border-radius: 18px;
      height: 36px;
      cursor: pointer;
      width: 150px;
    }
    a {
      display: inline-block;
      font-style: underline;
      color: rgb(0, 113, 133);
    }
