.menu-icon {
  font-size: 24px;
  cursor: pointer;
  border: none;
  background: none;
  align-self: center;
}
.video-info {
  display: flex;
  margin-top: 10px;
}
.channel-logo img {
  display: flex;
  width: 36px;
  border-radius: 50%;
  margin-left: 12px;
  padding-left:50px ;
}