    /* ONE MAIN GRID FOR ALL VIDEOS */
    .video-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
      column-gap: 20px;
      row-gap: 40px; /* Adds space between the rows */
    }

    .thumbnail {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .box2 {
      display: grid;
      grid-template-columns: 50px 1fr; 
      vertical-align: top;
    }

    .profile-icon img {
      width: 100%; /* Ensures profile pic fits the 50px col */
      border-radius: 50%;
    }
    
    .profile-icon {
      margin-right: 14px;
    }

    .video-title {
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 5px;
    }

    .channel-name, .views {
      font-size: 12px;
      color: rgb(96, 96, 96);
    }
