.search-bar {   
    width: 300px;   
    padding: 10px;   
    border: 1px solid #ccc;   
    border-radius: 4px;   
    font-size: 16px;
    display: block;
    margin-left: 150px;
   }
.image1{
  width: 230px;
  margin-left: 100px;
  margin-top: 40px;
}
.video-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: block;
    width: 230px;
    margin-left: 100px;
    margin-top: 6px;
} 
.views,
.channel-name{
    font-size: 14px;
    color: #666;
    display: block;
    width: 230px;
    margin-left: 100px;
    margin-top: 4px;
}
