.video1 {
width: 250px;
height: 250px;
object-fit: scale-down;
object-position: top;
border-radius: 12px;
border-color: rgb(219, 16, 16);
border-width: 1px;
border-style: solid;
margin-left: 20px;
margin-top: 10px;
}
.searchbar{
border-radius: 5px;
width:  130px;
margin-top: 10px;
margin-left: 250px;
height: 25px;
}
.views, .author
{
color: gray;  
font-size: 14px;
display: inline-block;
}
.videotitle
{
width: 300px;
}