.video1 {
width: 250px;
height: 250px;
object-fit: scale-down;
object-position: top;
border-radius: 12px;
border-color: rgb(219, 16, 16);
border-width: 1px;
border-style: solid;
margin-left: 20px;
margin-top: 10px;
}
.searchbar{
border-radius: 5px;
width:  130px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 180px;}